In [1]:
from jacob import data
# vol = data.get("price:成交股數")

/home/jacob/Desktop/airflow/notebooks/jacob/data.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

In [2]:
import pandas as pd
import psycopg2
def get(dataset):
    #connect to database
    connection = connect()
    #dataset = "price:收盤價"

    table = dataset.split(':')[0] 
    column = dataset.split(':')[1]
    sql = f"select date,stock_id,{column} from public.{table}"

    #execute query
    df = pd.read_sql(sql, connection)
    df.set_index('date', inplace=True)
    df = df.pivot(columns='stock_id', values=column)

    return df

def connect():
    connection = psycopg2.connect(
                host="localhost",
                port="5432",
                dbname="stock",
                user="postgres",
                password="postgres"
            )
    return connection

In [3]:
df = get("price:收盤價")

/tmp/ipykernel_1058451/3016040209.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

In [4]:
df

stock_id,0050 元大台灣50,0051 元大中型100,0052 富邦科技,0053 元大電子,0054 元大台商50,0055 元大MSCI金融,0056 元大高股息,0057 富邦摩台,0058 富邦發達,0059 富邦金融,...,9944 新麗,9945 潤泰新,9946 三發地產,9949 琉園,9950 萬國通,9951 皇田,9955 佳龍,9958 世紀鋼,9960 邁達康,9962 有益
date,,,,,,,,,,,,,,,,,,,,,
2019-01-07,73.95,28.25,46.90,29.74,19.44,16.35,23.73,44.84,41.29,41.20,...,16.35,46.20,12.55,9.46,13.3,78.9,12.00,52.8,28.95,11.50
2019-01-08,73.65,28.30,46.37,29.47,19.45,16.42,23.79,44.75,41.51,41.33,...,16.35,45.50,12.35,9.67,13.5,77.8,12.05,52.5,28.90,11.50
2019-01-09,75.00,28.49,47.47,30.21,19.74,16.69,24.05,45.58,42.09,41.96,...,16.35,46.95,12.45,9.52,13.5,81.7,12.05,53.0,29.00,11.50
2019-01-10,74.80,28.70,47.52,NaN,NaN,16.60,24.01,45.57,41.97,NaN,...,16.30,47.00,12.45,9.65,NaN,86.8,12.15,55.1,29.00,11.40
2019-01-11,75.50,28.41,48.20,30.40,19.75,16.59,24.04,45.85,42.05,41.92,...,16.25,46.95,12.40,9.52,13.7,92.3,12.10,54.6,NaN,11.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-24,118.15,57.35,100.95,58.90,NaN,22.33,28.27,85.75,NaN,NaN,...,20.30,35.55,14.55,20.00,12.0,70.7,24.90,113.5,29.80,19.95
2023-04-25,116.60,56.35,99.30,58.00,NaN,22.26,27.80,84.60,NaN,NaN,...,20.20,35.40,14.25,19.45,11.5,69.3,25.00,109.0,29.70,19.25
2023-04-26,116.10,56.35,98.75,57.40,NaN,22.28,27.84,83.95,NaN,NaN,...,20.30,35.65,14.30,19.45,11.2,69.8,26.40,111.0,29.75,19.20
2023-04-27,116.00,56.95,99.05,58.00,NaN,22.21,28.02,84.25,NaN,NaN,...,20.35,35.50,14.40,18.90,NaN,70.9,26.65,108.5,29.70,19.20
2023-04-28,117.40,57.40,100.30,58.45,NaN,22.31,28.23,85.15,NaN,NaN,...,20.40,35.80,14.45,18.40,NaN,71.6,26.70,110.5,29.80,19.10